#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

* {
  box-sizing: border-box;
}

.col-3 {
  width: 33.33%;
}

.col-6 {
  width: 66.66%;
}

.layer{
  background-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(3, 44, 58, 0.3);
  background: -moz-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,  rgba(255, 255, 255, 0.7) 70%); /* FF3.6+ */
  background: -webkit-linear-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(100%,rgba(255, 255, 255, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0)', endColorstr='rgba(255, 255, 255, 1)',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html{
  background: url('../images/city.jpg');
  background-repeat: no-repeat;
  background-color: rgba(3, 44, 58, 0.3);
  background-size: container;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: left top, right bottom;
  overflow: visible;
}


#profile{
  float: left;
  height: 80%;
  width: 100%;
}


#profile-picture{
  border-style: solid;
  border-width: 5px;
  border-color: rgba(4, 59, 78, 0.3);
  float: left;
  padding: 10em;
  margin: 5em;
  width: 60px;
  height: 60px;
  border-radius:50%;
  background-color: white;
  margin-right: 2em;
}

#intro{
  float: left;
  margin-top: 2em;
}

#name{
  float: left;
  text-align: left;
  padding: 2em;
  margin-top: 2em;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 4em;
}

#contact{
  float: left;
  padding: 6em;
  padding-top: 1em;
  margin-bottom: 15em;
}

/* button{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  color: white;
  padding: 50px 50px;
  margin: 1em;
  border: none;
  position: relative;
  overflow: visible;
} */

.fa {
  font-size: 50px !important;
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 18px;
  border-radius: 50%;
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.fa:hover{
  opacity: 0.7;
}

.fa-github{
  background-color: rgba(201, 124, 248, 1);
  background-color: rgba(31, 63, 86, 1);
  background-color: rgba(142, 158, 169, 1);
  font-size: 50px;
}

.fa-linkedin{
  background-color: rgba(119, 169, 248, 1);
  background-color: rgba(43, 88, 120, 1);
}

.fa-envelope{
  background-color: rgba(248, 129, 129, 1);
  background-color: rgba(55, 113, 154, 1);
}

.fa-phone{
  background-color: rgba(248, 237, 119, 1);
  background-color: rgba(71, 140, 189, 1);
}

.fa-phone:hover ~ #phone-info{
  visibility: visible;
}

.fa-download{
  background-color: rgba(115, 217, 123, 1);
  background-color: rgba(101, 159, 200, 1);
}

.info{
  visibility: hidden;
  padding: 15px;
  margin-left: -4%;
  margin-right: auto;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  height: 30px;
  width: 80%;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  color: gray;
}
