html, body {
  padding: 0;
  margin: 0;
}

#profile{
  height: 500px;
  width: 100%;
  background-color: rgba(122, 190, 220, 1);
  position: relative;
}

#pp{
  width: 40%;
  float: left;
}

#profile-picture{
  padding: 2em;
  padding-right: 0;
  padding-top: 6em;
}

#intro{
  right: 0;
  bottom: 0;
  float: left;
  position: absolute;
  height: 349px;
}

#name{
  color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  text-indent: -2em;
}

#full-name{
  font-size: 4em;
  color: rgba(255, 255, 255, 1.0);
}

.purpleText{
  color: rgba(215, 183, 231, 1);
}

#contact{
  top: 0;
  right: 0;
  position: absolute;
  float: left;
  padding: 2em;
}


#buttons{
  display: table;
  width: 60%;
  margin-top: 6.5em;
  margin-bottom: 5em;
}

#buttons span{
  display: table-cell;
  text-align: center;
}

button{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(122, 190, 220, 1);
  font-size: 30px;
  text-align: center;
  border: solid 5px rgba(122, 190, 220, 1);
  width: 230px;
  height: 70px;
  display: inline-block;
}

button:hover{
  background-color: rgba(122, 190, 220, 0.2);
}

button:active{
  background-color: rgba(122, 190, 220, 1);
  color: rgba(255, 255, 255, 1);
}

#about-div{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-family: Palatino, ‘Book Antiqua’, Georgia, Garamond, ‘Times New Roman’, Times, serif;
  padding-top: 3em;
  padding-bottom: 3em;
  color: rgba(122, 190, 220, 1);
}

#about-summary{
  width: 45%;
  margin: 0 auto;
  text-align: left;
  text-indent: 3em;
  color: white;
}

#project-div{
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  font-size: 25px;
  text-align: center;
}

.fa {
  font-size: 3em !important;
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 18px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
}

.fa:hover{
  color: rgba(122, 190, 220, 1);
  background-color: rgba(255, 255, 255, 1);
}
