#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#profile{
  background-color: rgba(3, 44, 58, 1);
  background-attachment: scroll;
  background-position: top;
  background-size: auto;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}


#profile-picture{
  border-style: solid;
  border-width: 5px;
  border-color: rgba(4, 59, 78, 0.3);
  left: 8em;
  top: 4em;
  padding: 8em;
  width: 10%;
  height: 20%;
  border-radius:50%;
  position: fixed;
  background-color: white;
}

#intro{
  left: 30em;
  top: -5em;
  padding: 8em;
  position: fixed;
}

#name{
  text-align: right;
  position: fixed;
  padding: 2em;
  color: rgba(255, 255, 255, 0.8);
}

#contact{
  padding: 6em;
  padding-top: 8em;
  margin-left: -4em;
  margin-top: 2em;
}

/* button{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  color: white;
  padding: 50px 50px;
  margin: 1em;
  border: none;
  position: relative;
  overflow: visible;
} */

.fa {
  font-size: 50px !important;
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 18px;
  border-radius: 50%;
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.fa:hover{
  opacity: 0.7;
}

.fa-github{
  background-color: rgba(201, 124, 248, 1);
  font-size: 50px;
}

.fa-linkedin{
  background-color: rgba(119, 169, 248, 1);
}

.fa-envelope{
  background-color: rgba(248, 129, 129, 1);
}

.fa-phone{
  background-color: rgba(248, 237, 119, 1);
}

.fa-phone:hover ~ #phone-info{
  visibility: visible;
}

.fa-sticky-note-o{
  background-color: rgba(115, 217, 123, 1);
}

.info{
  visibility: hidden;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: white;
  border-radius: 25px;
  height: 30px;
  width: 80%;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  color: rgba(3, 44, 58, 1);
}
